td {
  padding:1px !important;
  border:none !important;
}

.btn {
  width:64px;
  height:64px;
  font-size:24pt;
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
}

.overlay p {
  font-size: 30px;
  color: white;
  display: block;
  cursor: default;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .overlay p {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}